Menu:
	Atom:
		value: "Atom"
		submenu:
			"About Atom":
				value: "關於 Atom"
			"View License":
				value: "檢視授權條款"
			"Preferences...":
				value: "偏好設定..."
			"Open Your Config":
				value: "打開我的個人設定"
			"Open Your Init Script":
				value: "打開我的初始化指令檔"
			"Open Your Keymap":
				value: "打開我的鍵盤配置檔"
			"Open Your Snippets":
				value: "打開我的程式碼片段"
			"Open Your Stylesheet":
				value: "打開我的 Atom 樣式表"
			"Install Shell Commands":
				value: "安裝 Shell 命令列工具"
			"Hide Atom":
				value: "隱藏 Atom 視窗"
			"Hide Others":
				value: "隱藏其他視窗"
			"Show All":
				value: "顯示全部視窗"
			Quit:
				value: "結束 Atom"
			"Check for Update":
				value: "檢查更新"
	File:
		value: "文件"
		submenu:
			"New Window":
				value: "開新視窗"
			"New File":
				value: "開新文件"
			"Open...":
				value: "打開..."
			"Add Project Folder...":
				value: "新增專案資料夾..."
			"Reopen Last Item":
				value: "重新打開上一次關閉的文件..."
			Save:
				value: "儲存"
			"Save As...":
				value: "另存新檔..."
			"Save All":
				value: "全部儲存"
			"Close Tab":
				value: "關閉頁籤"
			"Close Pane":
				value: "關閉窗格"
			"Close Window":
				value: "關閉視窗"
	Edit:
		value: "編輯"
		submenu:
			Undo:
				value: "復原"
			Redo:
				value: "重作"
			Cut:
				value: "剪下"
			Copy:
				value: "複製"
			"Copy Path":
				value: "複製路徑"
			Paste:
				value: "貼上"
			"Select All":
				value: "全選"
			"Toggle Comments":
				value: "註解/取消註解"
			Lines:
				value: "行"
				submenu:
					Indent:
						value: "增加縮排"
					Outdent:
						value: "減少縮排"
					"Auto Indent":
						value: "自動縮排"
					"Move Line Up":
						value: "將選取行向上移動"
					"Move Line Down":
						value: "將選取行向下移動"
					"Duplicate Lines":
						value: "複製"
					"Delete Line":
						value: "刪除"
					"Join Lines":
						value: "合併"
			Text:
				value: "文字"
				submenu:
					"Upper Case":
						value: "轉為大寫"
					"Lower Case":
						value: "轉為小寫"
					"Delete to End of Word":
						value: "刪除至詞尾"
					"Delete to Previous Word Boundary":
						value: "刪除前一詞"
					"Delete to Next Word Boundary":
						value: "刪除後一詞"
					"Delete Line":
						value: "刪除"
					Transpose:
						value: "前後倒置"
			Folding:
				value: "折疊程式碼"
				submenu:
					Fold:
						value: "折疊"
					Unfold:
						value: "展開"
					"Unfold All":
						value: "展開全部"
					"Fold All":
						value: "折疊全部"
					"Fold Level 1":
						value: "折疊第 1 層"
					"Fold Level 2":
						value: "折疊第 2 層"
					"Fold Level 3":
						value: "折疊第 3 層"
					"Fold Level 4":
						value: "折疊第 4 層"
					"Fold Level 5":
						value: "折疊第 5 層"
					"Fold Level 6":
						value: "折疊第 6 層"
					"Fold Level 7":
						value: "折疊第 7 層"
					"Fold Level 8":
						value: "折疊第 8 層"
					"Fold Level 9":
						value: "折疊第 9 層"
			"Reflow Selection":
				value: "重排選取區域"
			Bookmark:
				value: "書籤"
				submenu:
					"View All":
						value: "檢視全部書籤"
					"Toggle Bookmark":
						value: "切換書籤"
					"Jump to Next Bookmark":
						value: "移至下一個書籤"
					"Jump to Previous Bookmark":
						value: "移至上一個書籤"
			"Select Encoding":
				value: "切換編碼"
			"Go to Line":
				value: "移動至指定行號"
			"Select Grammar":
				value: "切換程式語言"
	Selection:
		value: "選取區域"
		submenu:
			"Add Selection Above":
				value: "向上選取 ↑"
			"Add Selection Below":
				value: "向下選取 ↓"
			"Single Selection":
				value: "解除同時操作"
			"Split into Lines":
				value: "選択範囲を各行に分割して同時操作"
			"Select to Top":
				value: "選取至文件頂端"
			"Select to Bottom":
				value: "選取至文件底端"
			"Select Line":
				value: "選取行"
			"Select Word":
				value: "選取詞"
			"Select to Beginning of Word":
				value: "選取至詞首"
			"Select to Beginning of Line":
				value: "選取至行首"
			"Select to First Character of Line":
				value: "選取至行內的第一個字元"
			"Select to End of Word":
				value: "選取至詞尾"
			"Select to End of Line":
				value: "選取至行尾"
			"Select Inside Brackets":
				value: "選取括號內容"
	Find:
		value: "尋找"
		submenu:
			"Find in Buffer":
				value: "在編輯中文件中搜尋..."
			"Replace in Buffer":
				value: "在編輯中文件中取代..."
			"Select Next":
				value: "選擇下一個項目"
			"Select All":
				value: "選擇全部項目"
			"Toggle Find in Buffer":
				value: "切換尋找面板"
			"Find in Project":
				value: "在專案資料夾中尋找..."
			"Toggle Find in Project":
				value: "打開/關閉在專案資料夾尋找面板"
			"Find Next":
				value: "尋找下一個項目"
			"Find Previous":
				value: "尋找上一個項目"
			"Replace Next":
				value: "取代下一個項目"
			"Replace All":
				value: "全部取代"
			"Find Buffer":
				value: "尋找編輯中文件"
			"Find File":
				value: "尋找檔案"
			"Find Modified File":
				value: "尋找修改過的檔案"
	View:
		value: "表示"
		submenu:
			Reload:
				value: "再読み込み"
			"Toggle Full Screen":
				value: "フルスクリーン切替"
			Panes:
				value: "ペイン"
				submenu:
					"Split Up":
						value: "ペイン分割 ↑"
					"Split Down":
						value: "ペイン分割 ↓"
					"Split Left":
						value: "ペイン分割 ←"
					"Split Right":
						value: "ペイン分割 →"
					"Focus Next Pane":
						value: "次のペインにフォーカス"
					"Focus Previous Pane":
						value: "前のペインにフォーカス"
					"Focus Pane Above":
						value: "ペインにフォーカス ↑"
					"Focus Pane Below":
						value: "ペインにフォーカス ↓"
					"Focus Pane On Left":
						value: "ペインにフォーカス ←"
					"Focus Pane On Right":
						value: "ペインにフォーカス →"
					"Close Pane":
						value: "關閉窗格"
			Developer:
				value: "開発"
				submenu:
					"Open In Dev Mode...":
						value: "開発モードで開く"
					"Run Atom Specs":
						value: "Atom Specs を実行"
					"Run Package Specs":
						value: "パッケージ Specs を実行"
					"Toggle Developer Tools":
						value: "デベロッパー ツール"
			"Increase Font Size":
				value: "フォントサイズの拡大"
			"Decrease Font Size":
				value: "フォントサイズの縮小"
			"Reset Font Size":
				value: "フォントサイズのリセット"
			"Toggle Soft Wrap":
				value: "自動折り返しの切替"
			"Toggle Command Palette":
				value: "コマンドパレット"
			"Toggle Tree View":
				value: "ツリービュー"
	Packages:
		value: "擴充套件"
	Window:
		value: "ウインドウ"
		submenu:
			Minimize:
				value: "最小化"
			Zoom:
				value: "拡大／縮小"
			"Bring All to Front":
				value: "すべてを手前に移動"
	Help:
		value: "ヘルプ"
		submenu:
			"Terms of Use":
			  value: "利用条件"
			Documentation:
				value: "ドキュメント"
			Roadmap:
				value: "ロードマップ"
			"Frequently Asked Questions":
				value: "よくあるご質問"
			"Community Discussions":
				value: "コミュニティ ディスカッション"
			"Report Issue":
				value: "問題の報告"
			"Search Issues":
				value: "報告されている問題"
			"Release Notes":
				value: "リリースノート"
			"Welcome Guide":
				value: "ウェルカムガイド"
