Menu:
	"&File":
		value: "檔案(&F)"
		submenu:
			"New &Window":
				value: "開新視窗(&W)"
			"&New File":
				value: "新增文件(&N)"
			"&Open File...":
				value: "打開(&O)..."
			"Open Folder...":
				value: "打開資料夾..."
			"Add Project Folder...":
				value: "新增專案資料夾..."
			"Reopen Last &Item":
				value: "重新打開上一次關閉的文件(&I)"
			"Se&ttings":
				value: "偏好設定(&T)..."
			"Open Your Config":
				value: "打開我的設定"
			"Open Your Init Script":
				value: "打開我的初始化指令檔"
			"Open Your Keymap":
				value: "打開我的鍵盤配置檔"
			"Open Your Snippets":
				value: "打開我的程式碼片段"
			"Open Your Stylesheet":
				value: "打開我的 Atom 樣式表"
			"&Save":
				value: "儲存(&S)"
			"Save &As...":
				value: "另存新檔(&A)..."
			"Save A&ll":
				value: "全部儲存(&L)"
			"&Close Tab":
				value: "關閉頁籤(&C)"
			"Close &Pane":
				value: "關閉窗格(&P)"
			"Clos&e Window":
				value: "關閉視窗(&E)"
			"E&xit":
				value: "結束 Atom(&X)"
	"&Edit":
		value: "編輯(&E)"
		submenu:
			"&Undo":
				value: "復原(&U)"
			"&Redo":
				value: "重作(&R)"
			"Cu&t":
				value: "剪下(&T)"
			"&Copy":
				value: "複製(&C)"
			"Copy Pat&h":
				value: "複製路徑(&H)"
			"&Paste":
				value: "貼上(&P)"
			"Select &All":
				value: "全選(&A)"
			"&Toggle Comments":
				value: "註解/取消註解(&T)"
			Lines:
				value: "行"
				submenu:
					"&Indent":
						value: "增加縮排(&I)"
					"&Outdent":
						value: "減少縮排(&O)"
					"&Auto Indent":
						value: "自動縮排(&A)"
					"Move Line &Up":
						value: "將選取行向上移動(&U)"
					"Move Line &Down":
						value: "將選取行向下移動(&D)"
					"Du&plicate Lines":
						value: "複製(&P)"
					"D&elete Line":
						value: "刪除(&E)"
					"&Join Lines":
						value: "合併(&J)"
			Text:
				value: "文字"
				submenu:
					"&Upper Case":
						value: "轉為大寫(&U)"
					"&Lower Case":
						value: "轉為小寫(&L)"
					"Delete to End of &Word":
						value: "刪除至詞尾(&W)"
					"Delete to Previous Word Boundary":
						value: "刪除前一詞"
					"Delete to Next Word Boundary":
						value: "刪除後一詞"
					"&Delete Line":
						value: "刪除(&D)"
					"&Transpose":
						value: "前後倒置(&T)"
			Folding:
				value: "折疊程式碼"
				submenu:
					"&Fold":
						value: "折疊(&F)"
					"&Unfold":
						value: "展開(&U)"
					"Unfold &All":
						value: "展開全部(&A)"
					"Fol&d All":
						value: "折疊全部(&D)"
					"Fold Level 1":
						value: "折疊第 1 層"
					"Fold Level 2":
						value: "折疊第 2 層"
					"Fold Level 3":
						value: "折疊第 3 層"
					"Fold Level 4":
						value: "折疊第 4 層"
					"Fold Level 5":
						value: "折疊第 5 層"
					"Fold Level 6":
						value: "折疊第 6 層"
					"Fold Level 7":
						value: "折疊第 7 層"
					"Fold Level 8":
						value: "折疊第 8 層"
					"Fold Level 9":
						value: "折疊第 9 層"
			"Reflow Selection":
				value: "重排選取區域"
			Bookmark:
				value: "書籤"
				submenu:
					"View All":
						value: "檢視全部書籤"
					"Toggle Bookmark":
						value: "切換書籤"
					"Jump to Next Bookmark":
						value: "移至下一個書籤"
					"Jump to Previous Bookmark":
						value: "移至上一個書籤"
			"Select Encoding":
				value: "切換編碼"
			"Go to Line":
				value: "移動至指定行號"
			"Select Grammar":
				value: "切換程式語言"
	"&View":
		value: "檢視(&V)"
		submenu:
			"&Reload":
				value: "重新載入文件(&R)"
			"Toggle &Full Screen":
				value: "切換全螢幕(&F)"
			"Toggle Menu Bar":
				value: "隱藏/顯示功能選單"
			Panes:
				value: "窗格"
				submenu:
					"Split Up":
						value: "向上分割 ↑"
					"Split Down":
						value: "向下分割 ↓"
					"Split Left":
						value: "向左分割 ←"
					"Split Right":
						value: "向右分割 →"
					"Focus Next Pane":
						value: "移至後一個窗格"
					"Focus Previous Pane":
						value: "移至前一個窗格"
					"Focus Pane Above":
						value: "移至上方窗格 ↑"
					"Focus Pane Below":
						value: "移至下方窗格 ↓"
					"Focus Pane On Left":
						value: "移至左方窗格 ←"
					"Focus Pane On Right":
						value: "移至右方窗格 →"
					"Close Pane":
						value: "關閉窗格"
			Developer:
				value: "開發人員"
				submenu:
					"Open In &Dev Mode...":
						value: "在開發人員模式中開啟(&D)"
					"Run &Atom Specs":
						value: "執行 Atom 規格測試(&A)"
					"Run Package &Specs":
						value: "執行擴充套件規格測試(&S)"
					"Toggle Developer &Tools":
						value: "開發人員工具(&T)"
			"&Increase Font Size":
				value: "放大文字尺寸"
			"&Decrease Font Size":
				value: "縮小文字尺寸"
			"Re&set Font Size":
				value: "重設文字尺寸"
			"Toggle Soft &Wrap":
				value: "自動換行(&W)"
			"Toggle Command Palette":
				value: "指令面板"
			"Toggle Tree View":
				value: "檔案清單面板"
	"&Selection":
		value: "選取區域(&S)"
		submenu:
			"Add Selection &Above":
				value: "向上選取 ↑(&A)"
			"Add Selection &Below":
				value: "向下選取 ↓(&B)"
			"S&plit into Lines":
				value: "進入多行同時操作模式(&P)"
			"Single Selection":
				value: "解除同時操作模式"
			"Select to &Top":
				value: "選取至文件頂端(&T)"
			"Select to Botto&m":
				value: "選取至文件底端(&M)"
			"Select &Line":
				value: "選取行(&L)"
			"Select &Word":
				value: "選取詞(&W)"
			"Select to Beginning of W&ord":
				value: "選取至詞首(&O)"
			"Select to Beginning of L&ine":
				value: "選取至行首(&I)"
			"Select to First &Character of Line":
				value: "選取至行內的第一個字元(&C)"
			"Select to End of Wor&d":
				value: "選取至詞尾(&D)"
			"Select to End of Lin&e":
				value: "選取至行尾(&E)"
			"Select Inside Brackets":
				value: "選取括號內容"
	"F&ind":
		value: "尋找(&I)"
		submenu:
			"Find in Buffer":
				value: "在編輯中文件中搜尋..."
			"Replace in Buffer":
				value: "在編輯中文件中取代..."
			"Select Next":
				value: "選擇下一個項目"
			"Select All":
				value: "選擇全部項目"
			"Toggle Find in Buffer":
				value: "切換尋找面板"
			"Find in Project":
				value: "在專案資料夾中尋找..."
			"Toggle Find in Project":
				value: "打開/關閉在專案資料夾尋找面板"
			"Find Next":
				value: "尋找下一個項目"
			"Find Previous":
				value: "尋找上一個項目"
			"Replace Next":
				value: "取代下一個項目"
			"Replace All":
				value: "全部取代"
			"Find Buffer":
				value: "尋找編輯中文件"
			"Find File":
				value: "尋找檔案"
			"Find Modified File":
				value: "尋找修改過的檔案"
	"&Packages":
		value: "擴充套件(&P)"
	"&Help":
		value: "說明(&H)"
		submenu:
			"View &Terms of Use":
			  value: "檢視使用條款"
			"View &License":
			  value: "檢視授權"
			"&Documentation":
				value: "說明文件(&D)"
			Roadmap:
				value: "發展藍圖"
			"Frequently Asked Questions":
				value: "常見問題"
			"Community Discussions":
				value: "社群討論區"
			"Report Issue":
				value: "回報問題"
			"Search Issues":
				value: "已知問題"
			"Release Notes":
				value: "版本資訊"
			"Welcome Guide":
				value: "歡迎畫面與指南"
